@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,300,600,700,800);

$gray: #212121;
$white: #fff;

body {
/*	background-image: url('../images/title_slide_GUIDE.png');
*/	background-color: $gray;
	height: 850px;
	width: 1280px;
}

h1, h2 {
	font-family: arvo;
}

h3, p {
	font-family: open sans;
}

.slide + .slide {
	margin: 200px 0 0 0;
}

.wrapper {
	position: absolute;
	overflow: scroll;
	height: 100%;
	width: 100%;
	 section {
	    position: relative;
	    overflow: hidden;
	    padding-top: 50px;
	    width: 100%;
	    height: 100%;
	    background: #1C1C1C;
	}
	section:nth-child(2n) {
		background: #2E2E2E;
	}
	.slide {
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
		margin-bottom: 50px;
		.top {
			display: flex;
			align-items: center;
			margin: 74px 0 0 340px;
			.calendar {
				h1 {
					font-family: arvo;
					font-size: 32px;
					color: $white;
					position: absolute;
					margin: 58px 0 0 0;
					letter-spacing: 2.25px;
					width: 123px;
					text-align: center;
				}
			}
			.video_main {
				margin-left: 48px;
			}
			.thumbs {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-left: 13px;
				img + img {
					margin-top: 10px;
				}
			}
		}
		.bottom {
			display: flex;
			.photo {
					margin: 0 0 0 120px;
					.header {
						display: flex;
						margin:0;
						align-items: center;
						z-index: 2;
						position: absolute;
					h1 {
						color: white;
						text-transform: uppercase;
						font-size: 50px;
					}
					.light_years {
						background-image: url('../images/white_circle.png');
						width:184px;
						height: 184px;
						text-align: center;
						margin-left: -20px;
						h2 {
							font-size: 50px;
							margin-bottom: 0;
							line-height: 40px;
							margin-top: 53px;
						}
						p {
							font-weight: 100;
							margin: 5px 0 0 0;
							font-size: 13px;
						}
					}
				}
				img {
					margin-top: -65px;
					z-index: 0;
					margin-top: 121px;
				}
			}
			.text {
				width: 510px;
				margin: 105px 0 0 50px;
				p {
					color: white;
					font-size: 18px;
				}
			}
		}
	}

	.slide_01 {
		color: $white;
		text-align: center;
		font-size: 35px;
		text-transform: uppercase;
		width: 740px;
		margin: 50px auto 0 auto;
		h3 {

		}
		p {
			font-weight: 100;
		}
	}

	.long_title {
		font-size:36px !important;
	}

	.big_number {
		font-size:36px !important;
		line-height: 30px !important;
	}
}